/* Theme adapted from: http://azmind.com/2016/02/02/bootstrap-multi-step-form-free */

body {
    background: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    background-image: url('./app/6.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
    color: #a93a52;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    line-height: 44px;
}

img { max-width: 100%; }

::-moz-selection { background: #a93a52; color: #fff; text-shadow: none; }
::selection { background: #a93a52; color: #fff; text-shadow: none; }

.navbar {
    padding-top: 10px;
    padding-bottom: 5px;
    background: #333;
    background: rgba(51, 51, 51, 0.7);
    border: 0;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }
.navbar-inverse ul.navbar-nav li .li-text { margin-right: 10px; opacity: 0.8; }
.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }

.navbar-inverse ul.navbar-nav li .li-social a {
    margin: 0 7px;
    font-size: 28px;
    vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover, 
.navbar-inverse ul.navbar-nav li .li-social a:focus, 
.navbar>.container .navbar-brand:hover, 
.navbar>.container .navbar-brand:focus { border: 0; color: #a93a52; }

.navbar>.container .navbar-brand { 
    margin-left: 0; 
    opacity: 0.8;
    color: #fff;
    width: 329px;
    font-size: 32px;
    font-weight: 500;
}

.description-container {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.description-title { padding-bottom: 10px; }
.description-text { opacity: 0.9; }

.description-text a { color: #fff; border: 0; }
.description-text a:hover,
.description-text a:focus { color: #fff; border-bottom: 1px dotted #fff; }
.description-text .divider-1 { margin-top: 40px; }
