<div *ngIf="loading"><i class="fa fa-spinner fa-spin fa-4x fa-fw"></i></div>
<div *ngIf="routes" class="bg">
    <h4>Choose your journey:</h4>
    <ul class="routes">
        <li *ngFor="let route of routes"
        [class.selected]="route === selectedRoute"
        (click)="onSelect(route)">
            <i class="fa fa-lg" aria-hidden="true" [ngClass]="route === selectedRoute ? 'fa-caret-down' : 'fa-caret-right'"></i>
            <strong>{{route.departureTime}} - {{route.arrivalTime}}</strong>
        </li>
    </ul>
    <route-detail [route]="selectedRoute"></route-detail>
</div>
<div *ngIf="error">
    {{error}}
</div>

