<div class="description-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 description-title">
                <h2>Plan your journey in London.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 description-text">
                <p>
                    This project uses <a href="http://www.transportapi.com"><strong>TransportAPI</strong></a> to provide its services.
                </p>
                <div class="divider-1"></div>
            </div>
        </div>
    </div>
</div>

<div class="msf-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 msf-title">
                <p>Please enter your start and goal post codes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 msf-form">
                <form (ngSubmit)="onSubmit()" #routeForm="ngForm" class="form-inline">
                    <fieldset>
                    <div class="form-group">
                        <label for="from">From</label><br>
                        <input type="text" class="form-control" required
                        [(ngModel)]="from" name="from">
                    </div>

                    <div class="form-group">
                        <label for="to">To</label><br>
                        <input type="text" class="form-control" required
                        [(ngModel)]="to" name="to">
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-default"
                    [disabled]="!routeForm.form.valid">Search</button>
                    </fieldset>
                </form>
                <routes [from]="from" [to]="to"></routes>
            </div>
        </div>
    </div>
</div>
