<div class="container">
	<h1>Journey Form</h1>
	<form (ngSubmit)="onSubmit()" #routeForm="ngForm">
		<div class="form-group">
			<label for="from">From</label>
			<input type="text" class="form-control" required
			[(ngModel)]="from" name="from">
		</div>

		<div class="form-group">
			<label for="to">To</label>
			<input type="text" class="form-control" required
			[(ngModel)]="to" name="to">
		</div>

		<button type="submit" class="btn btn-default"
		[disabled]="!routeForm.form.valid">Search</button>
	</form>
</div>
<routes [from]="from" [to]="to"></routes>