.icons { padding: 10px 0px; }
.duration { padding-left: 10px; }
.route { 
    padding: 5px 0px 5px 0px; 
    font-size: 130%;
}
.padded { padding-right: 20px; }
hr {
    width: 25%;
    opacity: 0.8;
}
h4 { padding-bottom: 15px; }